@import "../../assets/styles/variables.scss";
@import "../../assets/styles/responsive.scss";

.projects{

    .container{

        .projects-container{
            display: grid;
            width: 100%;
            margin: 0 auto;
            gap: 1rem;
            grid-template-columns: 1fr;
            justify-items: center;

            @include md {
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
            }

            .card{
               background-color: $white;
               margin:  0 2rem;
               border: .5rem solid $light-purple;
               border-radius: 1.5rem;
               padding: 1rem;
               max-width: 30rem;
               
                .card-header{

                    h3{
                        text-align: center;
                        text-transform: uppercase;
                        margin: .5rem 0;
                        font-size: 2.2rem;
                        font-weight: 700;
                    }
                    
                    img{
                        width: 100%;
                        max-width: 30rem;
                        border-radius: 1.5rem;
                        height: 15rem;
                        object-fit: cover;
                    }
                }

                .card-body{
                    min-height: 14rem;
                    p{
                        margin: 1rem 0;
                        text-align: justify;
                        line-height: 1;
                    }

                    span{
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }

                .card-footer{
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem 0 0;
                    gap: .2rem;

                    .icon{
                        background-color: $dark;
                        width: 100%;
                        cursor: pointer;
                        border-radius: .5rem;
                        opacity: 1;
                        transition: opacity 0.5s ease;

                        a{
                            width: 100%;
                            padding: .5rem 0;
                            display: block;
                            color: $white;
                            text-align: center;
                            font-size: 2rem;
                        }

                        &:hover{
                            opacity: .9;
                            transition: opacity 0.5s ease;
                        }
                    }
                }

            }
        }

    }
    
}