@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: v.$fontOpenSans;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}