@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Titillium+Web:wght@400;700;900&display=swap');

$purple: #7743DB;
$violet: #C3ACD0;
$cream: #F7EFE5;
$lightCream: #FFFBF5;
$white: #fff;
$black: #000;

$fontOpenSans: 'Open Sans', sans-serif;
$fontTitillium: 'Titillium Web', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;