@import "../../assets/styles/variables.scss";
@import "../../assets/styles/responsive.scss";

.skills {
  .container {
    background-color: $white;
    border-radius: 1.5rem;
    border: 0.5rem solid $light-purple;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 

    .icons-container {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 50rem;

      .bouncing-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: transparent;
        font-size: 5rem;

        @include md {
          width: 6rem;
          height: 6rem;
          font-size: 6rem;
        }
      }
    }
  }
}
