@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Titillium+Web:wght@400;700;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #FFFBF5;
  background-image: linear-gradient(to top right, #7743DB, #966ee3, #966ee3, #FFB100, #ffd066);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  padding: 4rem 0 2rem;
  background-color: #16092f;
}
.header__grid {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__grid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header__info {
  text-align: center;
}
.header__logo {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: clamp(4rem, 6vw, 6rem);
}
.header__link {
  background-image: linear-gradient(to bottom right, #7743DB, #966ee3, #966ee3, #FFB100, #ffd066);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.header__alias {
  color: #fff;
  text-align: right;
  margin-right: 2rem;
  font-size: clamp(0.5rem, 6vw, 2rem);
  text-decoration: line-through;
  opacity: 0.8;
}
.header__subtitle {
  color: #fff;
  margin: 2rem 0;
  font-size: clamp(1.5rem, 6vw, 2.6rem);
  font-weight: 700;
}
.header__subtitle::after, .header__subtitle::before {
  content: "• • •";
  display: inline-block;
  margin: 0 1rem;
  color: #FFB100;
  vertical-align: middle;
}
.header__socials {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 2rem 0;
}

.social__icon {
  color: #fff;
  font-size: clamp(3rem, 6vw, 5rem);
  transition: color 0.3s;
}
.social__icon:hover {
  color: #ffc84d;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-top: 0.3rem solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .navbar {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 3rem;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
  }
}
@media (min-width: 768px) {
  .navbar__action {
    display: none;
  }
}
.navbar__icon {
  margin: 3rem 0 0;
}
.navbar__icon span {
  display: block;
  width: 4rem;
  height: 0.5rem;
  background-color: #fff;
  margin: 1rem 0;
  transition: all 0.3s;
}
.navbar__icon.close span:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}
.navbar__icon.close span:nth-child(2) {
  transform: translateY(-1rem) rotate(-45deg);
}
.navbar__icon:hover {
  cursor: pointer;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  opacity: 0;
}
.navbar__links.close {
  height: 100%;
  opacity: 1;
}
.navbar__links.close .navbar__link {
  opacity: 1;
  display: block;
}
.navbar__links.open {
  height: 0;
}
.navbar__links.open .navbar__link {
  opacity: 0;
  display: none;
}
@media (min-width: 768px) {
  .navbar__links {
    flex-direction: row;
    gap: 2rem;
    height: 100% !important;
    opacity: 1 !important;
  }
  .navbar__links .navbar__link {
    opacity: 1 !important;
    display: block !important;
  }
}
.navbar__link {
  background-image: linear-gradient(to right bottom, #7743DB, #966ee3, #ffd066, #FFB100, #996a00);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 2rem 0;
  font-weight: 700;
  display: block;
  text-align: center;
}
.navbar__link:hover {
  cursor: pointer;
  color: #ffc84d;
}

.about {
  margin: 3rem auto;
}
.about__heading {
  text-align: center;
  margin: 3rem 0;
  font-size: clamp(3rem, 6vw, 6rem);
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.about__heading::after {
  content: "• • •";
  display: block;
  color: #FFB100;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .about__heading::after {
    margin-top: -2rem;
  }
}
.about__grid {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .about__grid {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
  }
}
.about__image-container {
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../assets/img/shape.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #16092f;
  display: grid;
  place-items: center;
}
.about__image {
  border-radius: 10rem;
}
.about__info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.about__description {
  font-size: clamp(1rem, 6vw, 1.6rem);
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #16092f;
}
.about__description:last-of-type {
  margin-bottom: 0;
}
.about__keyword {
  background-image: linear-gradient(to bottom right, #7743db, #966ee3, #966ee3, #ffb100 85%, #ffd066);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
}

.achievements {
  margin: 3rem auto;
}
.achievements__heading {
  text-align: center;
  margin: 3rem 0;
  font-size: clamp(3rem, 6vw, 6rem);
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.achievements__heading::after {
  content: "• • •";
  display: block;
  color: #FFB100;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .achievements__heading::after {
    margin-top: -2rem;
  }
}
.achievements__grid {
  width: 85%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .achievements__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .achievements__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.achievement {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 0.8rem;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.achievement:nth-child(odd) {
  border-top: 0.5rem solid #FFB100;
}
.achievement:nth-child(odd) .achievement__number {
  color: #7743DB;
}
.achievement:nth-child(even) {
  border-top: 0.5rem solid #7743DB;
}
.achievement:nth-child(even) .achievement__number {
  color: #FFB100;
}
@media screen and (768px < width < 1024px) {
  .achievement:nth-child(3) {
    border-top: 0.5rem solid #7743DB;
  }
  .achievement:nth-child(3) .achievement__number {
    color: #FFB100;
  }
}
@media screen and (768px < width < 1024px) {
  .achievement:nth-child(4) {
    border-top: 0.5rem solid #FFB100;
  }
  .achievement:nth-child(4) .achievement__number {
    color: #7743DB;
  }
}
.achievement__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}
.achievement__number {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Titillium Web", sans-serif;
}

.skills {
  margin: 3rem auto;
}
.skills__heading {
  text-align: center;
  margin: 3rem 0;
  font-size: clamp(3rem, 6vw, 6rem);
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.skills__heading::after {
  content: "• • •";
  display: block;
  color: #FFB100;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .skills__heading::after {
    margin-top: -2rem;
  }
}
.skills__grid {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 0.8rem;
  border-top: 0.5rem solid #7743DB;
  border-bottom: 0.5rem solid #FFB100;
  border-right: 0.5rem solid #FFB100;
  border-left: 0.5rem solid #7743DB;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__icons {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 25rem;
}
.skills__icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: transparent;
  font-size: 6rem;
  transition: font-size 0.3s, width 0.3s, height 0.3s;
}
@media (min-width: 768px) {
  .skills__icon {
    width: 7rem;
    height: 7rem;
    font-size: 7rem;
  }
}
@media (min-width: 1024px) {
  .skills__icon {
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
  }
}

.footer {
  text-align: center;
  background-color: #16092f;
  padding: 3rem 0;
}
.footer__text {
  font-weight: 700;
  background-image: linear-gradient(to bottom right, #7743db, #966ee3, #ffb100 85%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.footer__alias {
  opacity: 0.8;
  text-decoration: line-through;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 1rem;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
