@use "../base/variables" as v;
@use "../base/mixins" as m;

.about {
  
  margin: 3rem auto;

  &__heading {
    @include m.heading;
  }

  &__grid {
    @include m.container;
    @include m.grid(1, 2rem);

    @include m.tablet {
      grid-template-columns: 35% auto;

      align-items: center;
      justify-items: center;
    }
  }

  &__image-container {
    border-radius: 50%;
    border: .3rem solid v.$yellow;
    overflow: hidden;
    background-image: url("../assets/img/shape.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: darken(v.$purple, 45%);
    display: grid;
    place-items: center;
  }

  &__image {
    border-radius: 10rem;
  }

  &__info {
    @include m.card;
  }

  &__description {
    font-size: clamp(1rem, 6vw, 1.6rem);
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: darken(v.$purple, 45%);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__keyword{
    @include m.keyword;
  }

  &__footer{
    margin-top: 3rem;
    text-align: center;
    background-color: rgba(darken(v.$purple, 45%), .6);
    padding: 2rem;
  }

  &__footer-text{
    font-weight: v.$bold;
    color: v.$white;
  }

  &__footer-link{
    display: inline-block;
    margin: 0 0 0 1rem;
    color: v.$yellow;
    transition: color 0.3s;

    &:hover{
      color: darken(v.$yellow, 10%);
    }
  }
}
