@use "../base/variables" as v;
@use "../base/mixins" as m;

.achievements{

    margin: 3rem auto;


    &__heading{
        @include m.heading;
    }

    &__grid{
        @include m.container-md;
        @include m.grid(1, 2rem);

        @include m.tablet{
            @include m.grid(2, 2rem);
        }

        @include m.desktop{
            @include m.grid(4, 2rem);
        }
    }
}

.achievement{

    @include m.card;
    border-radius: .8rem;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;

    &:nth-child(odd){
        border-top: .5rem solid v.$yellow;

        .achievement__number{
            color: v.$purple;
        }
    }

    &:nth-child(even){
        border-top: .5rem solid v.$purple;
        .achievement__number{
            color: v.$yellow;
        }
    }

    &:nth-child(3){
        @media screen and (768px < width < 1024px){
            border-top: .5rem solid v.$purple;
            .achievement__number{
                color: v.$yellow;
            }
        }
    }

    &:nth-child(4){
        @media screen and (768px < width < 1024px){
            border-top: .5rem solid v.$yellow;
            .achievement__number{
                color: v.$purple;
            }
        }
    }

    &__title{
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        font-family: v.$fontTitillium;
    }

    &__number{
        font-size: 3rem;
        font-weight: v.$black;
        font-family: v.$fontTitillium;
    }
    
}