@use "../base/variables" as v;
@use "../base/mixins" as m;

.extra {
  margin: 3rem auto;

  &__heading {
    @include m.heading;

    &--extra{
      @extend .extra__heading;
      font-size: clamp(2.5rem, 5vw, 4.5rem);
      opacity: .8;

      &::after{
        color: v.$purple;
        opacity: .8;
      }
    }
  }

  &__grid{
    @include m.container;
  }


  &__project {
    @include m.card;
    text-align: center;
    border: .5rem solid transparent;
    border-top: 0.5rem solid v.$yellow;
    transition: border-color 0.3s;
  }

  &__title{
    text-transform: uppercase;
    font-family: v.$fontTitillium;
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: v.$purple;
    font-weight: v.$black;

    border-bottom: .3rem solid v.$yellow;
  }

  &__link{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
    color: v.$purple;
    transition: color 0.3s;

    &:hover{
      color: lighten(v.$purple, 20%);
    }

  }

  &__description{
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &__tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__tag {
    background-color: hsla(260, 67%, 56%, 1);
    background-image: radial-gradient(
        at 85% 49%,
        hsla(260, 67%, 56%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 89% 1%, hsla(41, 100%, 50%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(260, 67%, 56%, 1) 0px, transparent 50%),
      radial-gradient(at 40% 59%, hsla(41, 100%, 50%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(260, 67%, 56%, 1) 0px, transparent 50%);

    border-radius: 1rem;
    color: v.$white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.swiper-wrapper{
  box-sizing: inherit !important;
}

.swiper-button-next, .swiper-button-prev{
  color: v.$purple !important;
  opacity: .5 !important;
}
