@use '../base/variables' as v;
@use '../base/mixins' as m;

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    @include m.tablet{
        @include m.container;
        margin-top: 3rem;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
    }

    &__action{

        svg{
            font-size: 4rem;
            fill: v.$white;
            color: v.$white;
            margin-bottom: 2rem;

            &:hover{
                cursor: pointer;
            }

        }

        @include m.tablet{
            display: none;
        }
    }

    &__icon{
        &--hidden{
            display: none;
        }

        &--visible{
            display: block;
        }
    }

    &__link{
        background-image: linear-gradient(
            to right bottom,
            v.$purple,
            lighten(v.$purple, 10%),
            lighten(v.$yellow, 20%),
            v.$yellow,
            darken(v.$yellow, 20%)
        );
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding: 2rem 0;
        font-weight: v.$bold;
        display: block;
        text-align: center;

        &:hover{
            cursor: pointer;
            color: lighten(v.$yellow, 15%);
        }

        &--hidden{
            display: none;
        }

        &--visible{
            display: block;
        }

        @include m.tablet{
            display: block;
        }
    }
}