@use "../base/variables" as v;
@use "../base/mixins" as m;

.skills {
  margin: 3rem auto;

  &__heading {
    @include m.heading;
  }

  &__grid {
    @include m.container-sm;
    @include m.card;
    padding: 0;
    border-top: .5rem solid v.$purple;
    border-bottom: .5rem solid v.$yellow;
    border-right: .5rem solid v.$yellow;
    border-left: .5rem solid v.$purple;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icons {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 25rem;
  }

  &__icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: transparent;
    font-size: 6rem;
    transition: font-size 0.3s, width 0.3s, height 0.3s;

    @include m.tablet {
      width: 7rem;
      height: 7rem;
      font-size: 7rem;
    }

    @include m.desktop {
      width: 8rem;
      height: 8rem;
      font-size: 8rem;
    }
  }
}

