@import "../../assets/styles/variables.scss";
@import "../../assets/styles/responsive.scss";

.footer {
  width: 100%;
  background-color: $dark;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: slide-bottom 0.4s linear both;
 

  &.fixed {
    animation: slide-top 0.4s linear both;
  }

  .container {
    .links {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
          a {
            color: $white;
            transition: all 0.5s ease;
            font-size: 1.4rem;

            @include md {
              font-size: 1.8rem;
            }

            @include lg {
              font-size: 2rem;
            }

            &:hover {
              color: $light-purple;
            }
          }
        }
      }
    }

    .copy {
      p {
        color: $white;
        opacity: 0.8;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;

        @include lg {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}


